<nav class="flex relative mt-10 mx-10 py-5 border-t-2 justify-between border-b-2 border-gray-300/30">
  <div class="flex">
    <div class="bg-black rounded-full aspect-square w-12">&nbsp;</div>
    <div class="h-10 w-6 overflow-x-clip"><div class="bg-black rounded-full aspect-square w-12">&nbsp;</div></div>
    <div class="h-10 w-6 overflow-x-clip"><div class="bg-black rounded-full aspect-square w-12">&nbsp;</div></div>
  </div>
  <ul class="flex absolute anchor-center text-2xl gap-14 left-[50%] top-[50%]">
    <li>Home</li>
    <li>About</li>
    <li>Portfolio</li>
    <li>Exhibitions</li>
    <li>Contact</li>
  </ul>
  <div class="flex items-center gap-2 text-2xl">
    <i class="bi bi-stars text-amber-500 text-2xl"></i>
    <span class="text-gray-400"><span class="text-black">Sala Canal,</span> 22 Nov 23</span>
    <img src="building.jpg" alt="building" class="w-12 aspect-square bg-cover rounded-full ml-3">
  </div>
</nav>
